# start

In [1]:
import pandas as pd
import numpy as np

#read data
df = pd.read_csv('csv/cleaned_loged.csv', low_memory=False)
df

,timestamp,gshield_info,src_ip,dst_ip,byte,protocol,src_port,dst_port,date,time,hour,minute,second
0,2023:03:17-00:00:00,Host|pass*rule-2,192.168.1.48,4.4.2.2,80,UDP,34278,53,2023:03:17,00:00:00,0,0,0
1,2023:03:17-00:00:00,Host|pass*rule-1,103.76.250.6,8.8.8.8,72,UDP,58900,53,2023:03:17,00:00:00,0,0,0
2,2023:03:17-00:00:00,Host|pass*rule-1,103.76.250.6,8.8.8.8,72,UDP,58900,53,2023:03:17,00:00:00,0,0,0
3,2023:03:17-00:00:00,Host|pass*rule-1,103.76.250.6,84.39.152.33,48,TCP,55390,80,2023:03:17,00:00:00,0,0,0
4,2023:03:17-00:00:01,Host|pass*rule-44,37.150.223.102,192.168.1.12,52,TCP,55581,3389,2023:03:17,00:00:01,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090562,2023:03:17-23:59:57,Host|pass*rule-7,192.168.1.242,192.168.43.150,884,UDP,28151,5060,2023:03:17,23:59:57,23,59,57
1090563,2023:03:17-23:59:58,Host|pass*rule-44,188.165.45.213,192.168.1.12,52,TCP,56981,3389,2023:03:17,23:59:58,23,59,58
1090564,2023:03:17-23:59:59,Host|pass*rule-44,103.104.84.129,192.168.1.12,52,TCP,34634,3389,2023:03:17,23:59:59,23,59,59
1090565,2023:03:17-23:59:59,Host|pass*rule-1,103.76.250.6,8.8.8.8,72,UDP,43567,53,2023:03:17,23:59:59,23,59,59
1090566,2023:03:17-23:59:59,Host|pass*rule-1,103.76.250.6,216.163.176.37,48,TCP,39570,80,2023:03:17,23:59:59,23,59,59

- dst_ip_bytes

In [1]:
import pandas as pd
import numpy as np

#read data
df = pd.read_csv('csv/cleaned_loged.csv', low_memory=False)

#pivot table
df = pd.pivot_table(data=df,index=['dst_ip'],values=['byte'],aggfunc={np.sum})
df.to_csv("csv/dip_bytes.csv")

#initalize data
df = pd.read_csv("csv/dip_bytes.csv",skiprows=3,sep=',',names=['dst_ip','bytes'])
df['data'] = "'" + df['dst_ip'].astype(str) + " - " + df['bytes'].astype(str) + "'"

#percentage calculation
df['percentage']=(df['bytes']/df['bytes'].sum())*100
print(df['percentage'].sum())

#sort values by percentage in decending order
df=df.sort_values(by = 'percentage', ascending = False)

#stored data
df.to_csv("csv/dip_bytes.csv",index=False)
df

100.0

              dst_ip     bytes                         data  percentage
4138         8.8.8.8  32538744         '8.8.8.8 - 32538744'   21.274370
2195  192.168.43.150  15736612  '192.168.43.150 - 15736612'   10.288858
1129   142.250.77.67  15051121   '142.250.77.67 - 15051121'    9.840672
3288         4.4.2.2   4842376          '4.4.2.2 - 4842376'    3.166026
2176    192.168.1.12   4052716     '192.168.1.12 - 4052716'    2.649733
...              ...       ...                          ...         ...
3715     52.66.94.46        48           '52.66.94.46 - 48'    0.000031
2835     23.64.59.56        48           '23.64.59.56 - 48'    0.000031
4105   8.241.135.254        48         '8.241.135.254 - 48'    0.000031
4104   8.241.135.126        48         '8.241.135.126 - 48'    0.000031
682    13.227.250.40        48         '13.227.250.40 - 48'    0.000031

[4204 rows x 4 columns]

In [3]:
df = pd.read_csv('csv/dip_bytes.csv', low_memory=False)
df = df.head(50)
df

             dst_ip     bytes                         data  percentage
0           8.8.8.8  32538744         '8.8.8.8 - 32538744'   21.274370
1    192.168.43.150  15736612  '192.168.43.150 - 15736612'   10.288858
2     142.250.77.67  15051121   '142.250.77.67 - 15051121'    9.840672
3           4.4.2.2   4842376          '4.4.2.2 - 4842376'    3.166026
4      192.168.1.12   4052716     '192.168.1.12 - 4052716'    2.649733
5     142.251.42.36   4009274    '142.251.42.36 - 4009274'    2.621330
6    165.225.120.34   3417716   '165.225.120.34 - 3417716'    2.234559
7    142.250.183.14   3343833   '142.250.183.14 - 3343833'    2.186253
8    165.225.120.36   3154648   '165.225.120.36 - 3154648'    2.062561
9           8.8.4.4   3139128          '8.8.4.4 - 3139128'    2.052414
10   165.225.120.37   2752300   '165.225.120.37 - 2752300'    1.799499
11  172.217.167.163   2393484  '172.217.167.163 - 2393484'    1.564899
12   165.225.120.35   2086888   '165.225.120.35 - 2086888'    1.364442
13  142.250.199.162   1883778  '142.250.199.162 - 1883778'    1.231645
14    216.58.196.74   1831718    '216.58.196.74 - 1831718'    1.197608
15    142.251.42.98   1519450    '142.251.42.98 - 1519450'    0.993442
16  172.217.160.174   1166010  '172.217.160.174 - 1166010'    0.762357
17      31.13.79.10   1059920      '31.13.79.10 - 1059920'    0.692993
18  142.250.183.163    819976   '142.250.183.163 - 819976'    0.536114
19   142.250.192.46    790703    '142.250.192.46 - 790703'    0.516975
20          1.1.1.1    788906           '1.1.1.1 - 788906'    0.515800
21       3.6.56.228    762580        '3.6.56.228 - 762580'    0.498587
22  142.250.182.206    747656   '142.250.182.206 - 747656'    0.488830
23   142.250.192.67    740648    '142.250.192.67 - 740648'    0.484248
24    142.250.192.3    733047     '142.250.192.3 - 733047'    0.479278
25    142.250.183.3    712572     '142.250.183.3 - 712572'    0.465891
26  172.217.160.170    623039   '172.217.160.170 - 623039'    0.407353
27     35.201.70.97    596546      '35.201.70.97 - 596546'    0.390032
28  142.250.183.170    553293   '142.250.183.170 - 553293'    0.361752
29  142.250.182.193    546517   '142.250.182.193 - 546517'    0.357322
30   172.217.166.67    533664    '172.217.166.67 - 533664'    0.348918
31  142.250.199.138    529319   '142.250.199.138 - 529319'    0.346078
32   172.217.166.35    511660    '172.217.166.35 - 511660'    0.334532
33   142.250.67.138    478553    '142.250.67.138 - 478553'    0.312886
34  172.217.167.174    455372   '172.217.167.174 - 455372'    0.297730
35   142.250.183.98    437303    '142.250.183.98 - 437303'    0.285916
36    142.251.42.10    432869     '142.251.42.10 - 432869'    0.283017
37  142.250.192.142    422961   '142.250.192.142 - 422961'    0.276539
38   142.250.192.10    421347    '142.250.192.10 - 421347'    0.275484
39    142.251.42.42    420749     '142.251.42.42 - 420749'    0.275093
40   216.239.32.116    420687    '216.239.32.116 - 420687'    0.275052
41   142.251.42.106    418674    '142.251.42.106 - 418674'    0.273736
42  142.250.199.129    415175   '142.250.199.129 - 415175'    0.271448
43  142.250.182.202    413623   '142.250.182.202 - 413623'    0.270434
44      31.13.79.18    412341       '31.13.79.18 - 412341'    0.269595
45   142.250.183.74    406163    '142.250.183.74 - 406163'    0.265556
46  142.250.199.170    405942   '142.250.199.170 - 405942'    0.265412
47  142.250.192.138    404484   '142.250.192.138 - 404484'    0.264458
48      31.13.79.63    399662       '31.13.79.63 - 399662'    0.261306
49  142.250.199.161    383406   '142.250.199.161 - 383406'    0.250677

In [5]:
    data = df.data.to_list()
    percentage = df.percentage.to_list()
return render_template('sip_bytes_pareto.html', data=data, percentage=percentage)

[21.274369680135745,
 10.28885752937668,
 9.840672161606925,
 3.166025620233436,
 2.649732835188753,
 2.6213297361740997,
 2.2345593193675457,
 2.186253390439328,
 2.062561104469824,
 2.0524138714532176,
 1.7994993190467834,
 1.564899476128827,
 1.3644419339922622,
 1.2316452524199075,
 1.197607562288172,
 0.9934415726213112,
 0.7623566475317879,
 0.6929932486444307,
 0.5361138878882045,
 0.516974715717127,
 0.515799807358181,
 0.4985874325904502,
 0.4888298742438113,
 0.48424792778889,
 0.4792782681136821,
 0.4658913740405495,
 0.40735321594288,
 0.390031653809571,
 0.3617521261248235,
 0.3573218651119031,
 0.3489183608617456,
 0.346077527907032,
 0.3345317812678404,
 0.3128858764043873,
 0.2977297547189521,
 0.2859159432900176,
 0.2830169206614329,
 0.2765389061815015,
 0.2754836462530992,
 0.2750926639500109,
 0.2750521273232693,
 0.2737359945872881,
 0.2714482904426291,
 0.2704335671409685,
 0.2695953743106019,
 0.2655560956007697,
 0.2654116021409328,
 0.2644583375959449,
 0.2613056341419451,
 0.2506771921369222]

- dst_ip_connections

In [3]:
import pandas as pd
import numpy as np

#read data
df = pd.read_csv('csv/cleaned_loged.csv', low_memory=False)

#pivot table
df = pd.pivot_table(data=df,index=['dst_ip'],values=['byte'],aggfunc={len})
df.to_csv("csv/dip_connections.csv")

#initalize data
df = pd.read_csv("csv/dip_connections.csv",skiprows=3,sep=',',names=['dst_ip','connections'])
df['data'] = "'" + df['dst_ip'].astype(str) + " - " + df['connections'].astype(str) + "'"

#percentage calculation
df['percentage']=(df['connections']/df['connections'].sum())*100
print(df['percentage'].sum())

#sort values by percentage in decending order
df=df.sort_values(by = 'percentage', ascending = False)

#stored data
df.to_csv("csv/dip_connections.csv",index=False)
df

99.99999999999997

              dst_ip  connections                      data  percentage
4138         8.8.8.8       463392        '8.8.8.8 - 463392'   42.490924
2176    192.168.1.12        77962    '192.168.1.12 - 77962'    7.148758
1410  165.225.120.34        65742  '165.225.120.34 - 65742'    6.028240
3288         4.4.2.2        65088         '4.4.2.2 - 65088'    5.968272
1412  165.225.120.36        60674  '165.225.120.36 - 60674'    5.563528
...              ...          ...                       ...         ...
1617   17.248.221.69            1       '17.248.221.69 - 1'    0.000092
1618   17.248.221.71            1       '17.248.221.71 - 1'    0.000092
1619   17.248.223.34            1       '17.248.223.34 - 1'    0.000092
3157    34.98.33.162            1        '34.98.33.162 - 1'    0.000092
3375  44.198.232.204            1      '44.198.232.204 - 1'    0.000092

[4204 rows x 4 columns]

- dst_ip_durations

In [4]:
import pandas as pd
import numpy as np

#read data
df = pd.read_csv('csv/cleaned_loged.csv', low_memory=False)

#pivot table
df = pd.pivot_table(data=df,index=['dst_ip'],values=['second'],aggfunc={np.sum})
df.to_csv("csv/dip_durations.csv")

#initalize data
df = pd.read_csv("csv/dip_durations.csv",skiprows=3,sep=',',names=['dst_ip','durations'])
df['data'] = "'" + df['dst_ip'].astype(str) + " - " + df['durations'].astype(str) + "'"

#percentage calculation
df['percentage']=(df['durations']/df['durations'].sum())*100
print(df['percentage'].sum())

#sort values by percentage in decending order
df=df.sort_values(by = 'percentage', ascending = False)

#stored data
df.to_csv("csv/dip_durations.csv",index=False)
df

100.0

              dst_ip  durations                        data  percentage
4138         8.8.8.8   13106291        '8.8.8.8 - 13106291'   41.553942
2176    192.168.1.12    2305405    '192.168.1.12 - 2305405'    7.309365
1410  165.225.120.34    1980643  '165.225.120.34 - 1980643'    6.279696
3288         4.4.2.2    1926701         '4.4.2.2 - 1926701'    6.108671
1412  165.225.120.36    1778343  '165.225.120.36 - 1778343'    5.638297
...              ...        ...                         ...         ...
650   13.227.138.112          0        '13.227.138.112 - 0'    0.000000
2859     3.0.188.155          0           '3.0.188.155 - 0'    0.000000
2661    23.213.0.218          0          '23.213.0.218 - 0'    0.000000
2034   18.164.144.98          0         '18.164.144.98 - 0'    0.000000
2639   23.212.254.82          0         '23.212.254.82 - 0'    0.000000

[4204 rows x 4 columns]

- combined dst_ip_bytes_connections_durations

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv('csv/cleaned_loged.csv', low_memory=False)

df = pd.pivot_table(data=df,index=['dst_ip'],values=['byte','second'],aggfunc={len,np.sum})
df.to_csv("csv/dip_bytes_connections_durations.csv")

df = pd.read_csv("csv/dip_bytes_connections_durations.csv",skiprows=3,sep=',',names=['dst_ip','connections','bytes','d_con','durations'])
df = df.loc[:, ['dst_ip','connections','bytes','durations']]

#stored data
df.to_csv("csv/dip_bytes_connections_durations.csv",index=False)
df

              dst_ip  connections   bytes  durations
0            1.1.1.1        13695  788906     405636
1       1.38.148.135            2     144         23
2         1.38.7.145            3    2580          3
3          1.38.8.34            2     124         72
4     10.104.251.220           20    1440        556
...              ...          ...     ...        ...
4199    99.80.34.167            1      60         46
4200    99.80.34.177            1      60         32
4201    99.80.34.249            1      60         31
4202    99.81.174.49            1      64         14
4203     99.81.65.50            2     120         58

[4204 rows x 4 columns]

In [6]:
dip_connections = df
dip_connections['data'] = "'" + dip_connections['dst_ip'].astype(str) + " - " + dip_connections['connections'].astype(str) + "'"
dip_connections['percentage'] = (dip_connections['connections']/dip_connections['connections'].sum())*100
dip_connections = dip_connections.loc[:, ['dst_ip','connections','data','percentage']]
dip_connections = dip_connections.sort_values(by = 'percentage', ascending = False)
dip_connections.to_csv("csv/dip_connections.csv",index=False)
dip_connections

              dst_ip  connections                      data  percentage
4138         8.8.8.8       463392        '8.8.8.8 - 463392'   42.490924
2176    192.168.1.12        77962    '192.168.1.12 - 77962'    7.148758
1410  165.225.120.34        65742  '165.225.120.34 - 65742'    6.028240
3288         4.4.2.2        65088         '4.4.2.2 - 65088'    5.968272
1412  165.225.120.36        60674  '165.225.120.36 - 60674'    5.563528
...              ...          ...                       ...         ...
1617   17.248.221.69            1       '17.248.221.69 - 1'    0.000092
1618   17.248.221.71            1       '17.248.221.71 - 1'    0.000092
1619   17.248.223.34            1       '17.248.223.34 - 1'    0.000092
3157    34.98.33.162            1        '34.98.33.162 - 1'    0.000092
3375  44.198.232.204            1      '44.198.232.204 - 1'    0.000092

[4204 rows x 4 columns]

In [7]:
dip_bytes = df
dip_bytes['data'] = "'" + dip_bytes['dst_ip'].astype(str) + " - " + dip_bytes['bytes'].astype(str) + "'"
dip_bytes['percentage'] = (dip_bytes['bytes']/dip_bytes['bytes'].sum())*100
dip_bytes = dip_bytes.loc[:, ['dst_ip','bytes','data','percentage']]
dip_bytes = dip_bytes.sort_values(by = 'percentage', ascending = False)
dip_bytes.to_csv("csv/dip_bytes.csv",index=False)
dip_bytes

              dst_ip     bytes                         data  percentage
4138         8.8.8.8  32538744         '8.8.8.8 - 32538744'   21.274370
2195  192.168.43.150  15736612  '192.168.43.150 - 15736612'   10.288858
1129   142.250.77.67  15051121   '142.250.77.67 - 15051121'    9.840672
3288         4.4.2.2   4842376          '4.4.2.2 - 4842376'    3.166026
2176    192.168.1.12   4052716     '192.168.1.12 - 4052716'    2.649733
...              ...       ...                          ...         ...
3715     52.66.94.46        48           '52.66.94.46 - 48'    0.000031
2835     23.64.59.56        48           '23.64.59.56 - 48'    0.000031
4105   8.241.135.254        48         '8.241.135.254 - 48'    0.000031
4104   8.241.135.126        48         '8.241.135.126 - 48'    0.000031
682    13.227.250.40        48         '13.227.250.40 - 48'    0.000031

[4204 rows x 4 columns]

In [8]:
dip_durations = df
dip_durations['data'] = "'" + dip_durations['dst_ip'].astype(str) + " - " + dip_durations['durations'].astype(str) + "'"
dip_durations['percentage'] = (dip_durations['durations']/dip_durations['durations'].sum())*100
dip_durations = dip_durations.loc[:, ['dst_ip','durations','data','percentage']]
dip_durations = dip_durations.sort_values(by = 'percentage', ascending = False)
dip_durations.to_csv("csv/dip_durations.csv",index=False)
dip_durations

              dst_ip  durations                        data  percentage
4138         8.8.8.8   13106291        '8.8.8.8 - 13106291'   41.553942
2176    192.168.1.12    2305405    '192.168.1.12 - 2305405'    7.309365
1410  165.225.120.34    1980643  '165.225.120.34 - 1980643'    6.279696
3288         4.4.2.2    1926701         '4.4.2.2 - 1926701'    6.108671
1412  165.225.120.36    1778343  '165.225.120.36 - 1778343'    5.638297
...              ...        ...                         ...         ...
650   13.227.138.112          0        '13.227.138.112 - 0'    0.000000
2859     3.0.188.155          0           '3.0.188.155 - 0'    0.000000
2661    23.213.0.218          0          '23.213.0.218 - 0'    0.000000
2034   18.164.144.98          0         '18.164.144.98 - 0'    0.000000
2639   23.212.254.82          0         '23.212.254.82 - 0'    0.000000

[4204 rows x 4 columns]

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('csv/cleaned_loged.csv', low_memory=False)

df = pd.pivot_table(data=df,index=['dst_ip'],values=['byte','second'],aggfunc={len,np.sum})
df.to_csv("csv/dip_bytes_connections_durations.csv")

df = pd.read_csv("csv/dip_bytes_connections_durations.csv",skiprows=3,sep=',',names=['dst_ip','connections','bytes','d_con','durations'])
df = df.loc[:, ['dst_ip','connections','bytes','durations']]

#stored data
df.to_csv("csv/dip_bytes_connections_durations.csv",index=False)
print(df.head())

#dip_connections
dip_connections = df
dip_connections['data'] = "'" + dip_connections['dst_ip'].astype(str) + " - " + dip_connections['connections'].astype(str) + "'"
dip_connections['percentage'] = (dip_connections['connections']/dip_connections['connections'].sum())*100
dip_connections = dip_connections.loc[:, ['dst_ip','connections','data','percentage']]
dip_connections = dip_connections.sort_values(by = 'percentage', ascending = False)
dip_connections.to_csv("csv/dip_connections.csv",index=False)
print(dip_connections.head())   

#dip_bytes
dip_bytes = df
dip_bytes['data'] = "'" + dip_bytes['dst_ip'].astype(str) + " - " + dip_bytes['bytes'].astype(str) + "'"
dip_bytes['percentage'] = (dip_bytes['bytes']/dip_bytes['bytes'].sum())*100
dip_bytes = dip_bytes.loc[:, ['dst_ip','bytes','data','percentage']]
dip_bytes = dip_bytes.sort_values(by = 'percentage', ascending = False)
dip_bytes.to_csv("csv/dip_bytes.csv",index=False)
print(dip_bytes.head())

#dip_durations
dip_durations = df
dip_durations['data'] = "'" + dip_durations['dst_ip'].astype(str) + " - " + dip_durations['durations'].astype(str) + "'"
dip_durations['percentage'] = (dip_durations['durations']/dip_durations['durations'].sum())*100
dip_durations = dip_durations.loc[:, ['dst_ip','durations','data','percentage']]
dip_durations = dip_durations.sort_values(by = 'percentage', ascending = False)
dip_durations.to_csv("csv/dip_durations.csv",index=False)
print(dip_durations.head())