In [3]:
import pandas as pd
import numpy as np

#read data
df = pd.read_csv('csv/cleaned_loged.csv', low_memory=False)
df

,timestamp,gshield_info,src_ip,dst_ip,byte,protocol,src_port,dst_port,date,time,hour,minute,second
0,2023:03:17-00:00:00,Host|pass*rule-2,192.168.1.48,4.4.2.2,80,UDP,34278,53,2023:03:17,00:00:00,0,0,0
1,2023:03:17-00:00:00,Host|pass*rule-1,103.76.250.6,8.8.8.8,72,UDP,58900,53,2023:03:17,00:00:00,0,0,0
2,2023:03:17-00:00:00,Host|pass*rule-1,103.76.250.6,8.8.8.8,72,UDP,58900,53,2023:03:17,00:00:00,0,0,0
3,2023:03:17-00:00:00,Host|pass*rule-1,103.76.250.6,84.39.152.33,48,TCP,55390,80,2023:03:17,00:00:00,0,0,0
4,2023:03:17-00:00:01,Host|pass*rule-44,37.150.223.102,192.168.1.12,52,TCP,55581,3389,2023:03:17,00:00:01,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090562,2023:03:17-23:59:57,Host|pass*rule-7,192.168.1.242,192.168.43.150,884,UDP,28151,5060,2023:03:17,23:59:57,23,59,57
1090563,2023:03:17-23:59:58,Host|pass*rule-44,188.165.45.213,192.168.1.12,52,TCP,56981,3389,2023:03:17,23:59:58,23,59,58
1090564,2023:03:17-23:59:59,Host|pass*rule-44,103.104.84.129,192.168.1.12,52,TCP,34634,3389,2023:03:17,23:59:59,23,59,59
1090565,2023:03:17-23:59:59,Host|pass*rule-1,103.76.250.6,8.8.8.8,72,UDP,43567,53,2023:03:17,23:59:59,23,59,59
1090566,2023:03:17-23:59:59,Host|pass*rule-1,103.76.250.6,216.163.176.37,48,TCP,39570,80,2023:03:17,23:59:59,23,59,59

# start

- src_ip_bytes

In [6]:
import pandas as pd
import numpy as np

#read data
df = pd.read_csv('csv/cleaned_loged.csv', low_memory=False)

#pivot table
df = pd.pivot_table(data=df,index=['src_ip'],values=['byte'],aggfunc={np.sum})
df.to_csv("csv/sip_bytes.csv")

#initalize data
df = pd.read_csv("csv/sip_bytes.csv",skiprows=3,sep=',',names=['src_ip','bytes'])
df['data'] = "'" + df['src_ip'].astype(str) + " - " + df['bytes'].astype(str) + "'"

#percentage calculation
df['percentage']=(df['bytes']/df['bytes'].sum())*100
print(df['percentage'].sum())

#sort values by percentage in decending order
df=df.sort_values(by = 'percentage', ascending = False)

#stored data
df.to_csv("csv/sip_bytes.csv",index=False)
df

100.0

             src_ip     bytes                        data  percentage
21     103.76.250.6  24887217   '103.76.250.6 - 24887217'   16.271675
199   192.168.1.242  16545458  '192.168.1.242 - 16545458'   10.817694
217    192.168.1.56   9498702    '192.168.1.56 - 9498702'    6.210409
161   192.168.1.121   7214478   '192.168.1.121 - 7214478'    4.716945
178   192.168.1.183   5564532   '192.168.1.183 - 5564532'    3.638183
..              ...       ...                         ...         ...
141  185.200.118.73        40       '185.200.118.73 - 40'    0.000026
140  185.200.118.37        40       '185.200.118.37 - 40'    0.000026
138  185.200.116.86        40       '185.200.116.86 - 40'    0.000026
136  185.196.220.81        40       '185.196.220.81 - 40'    0.000026
0    103.101.163.36        40       '103.101.163.36 - 40'    0.000026

[393 rows x 4 columns]

- src_ip_connections

In [8]:
import pandas as pd
import numpy as np

#read data
df = pd.read_csv('csv/cleaned_loged.csv', low_memory=False)

#pivot table
df = pd.pivot_table(data=df,index=['src_ip'],values=['byte'],aggfunc={len})
df.to_csv("csv/sip_connections.csv")
df
#initalize data
df = pd.read_csv("csv/sip_connections.csv",skiprows=3,sep=',',names=['src_ip','connections'])
df['data'] = "'" + df['src_ip'].astype(str) + " - " + df['connections'].astype(str) + "'"

#percentage calculation
df['percentage']=(df['connections']/df['connections'].sum())*100
print(df['percentage'].sum())

#sort values by percentage in decending order
df=df.sort_values(by = 'percentage', ascending = False)

#stored data
df.to_csv("csv/sip_connections.csv",index=False)
df

99.99999999999997

              src_ip  connections                     data  percentage
21      103.76.250.6       388630  '103.76.250.6 - 388630'   35.635591
211     192.168.1.48        70081   '192.168.1.48 - 70081'    6.426107
217     192.168.1.56        38871   '192.168.1.56 - 38871'    3.564293
199    192.168.1.242        30245  '192.168.1.242 - 30245'    2.773328
168    192.168.1.146        22974  '192.168.1.146 - 22974'    2.106611
..               ...          ...                      ...         ...
153   192.155.90.118            1     '192.155.90.118 - 1'    0.000092
232    192.241.203.4            1      '192.241.203.4 - 1'    0.000092
238     192.3.136.82            1       '192.3.136.82 - 1'    0.000092
239  193.163.125.167            1    '193.163.125.167 - 1'    0.000092
392   97.107.133.213            1     '97.107.133.213 - 1'    0.000092

[393 rows x 4 columns]

- src_ip_durations

In [10]:
import pandas as pd
import numpy as np

#read data
df = pd.read_csv('csv/cleaned_loged.csv', low_memory=False)

#pivot table
df = pd.pivot_table(data=df,index=['src_ip'],values=['second'],aggfunc={np.sum})
df.to_csv("csv/sip_durations.csv")

#initalize data
df = pd.read_csv("csv/sip_durations.csv",skiprows=3,sep=',',names=['src_ip','durations'])
df['data'] = "'" + df['src_ip'].astype(str) + " - " + df['durations'].astype(str) + "'"

#percentage calculation
df['percentage']=(df['durations']/df['durations'].sum())*100
print(df['percentage'].sum())

#sort values by percentage in decending order
df=df.sort_values(by = 'percentage', ascending = False)

#stored data
df.to_csv("csv/sip_durations.csv",index=False)
df

100.0

              src_ip  durations                       data  percentage
21      103.76.250.6   10934397  '103.76.250.6 - 10934397'   34.667878
211     192.168.1.48    2074355   '192.168.1.48 - 2074355'    6.576813
217     192.168.1.56    1063679   '192.168.1.56 - 1063679'    3.372430
199    192.168.1.242     892233   '192.168.1.242 - 892233'    2.828855
168    192.168.1.146     673099   '192.168.1.146 - 673099'    2.134083
..               ...        ...                        ...         ...
73     139.162.203.9          4        '139.162.203.9 - 4'    0.000013
111  167.248.133.134          3      '167.248.133.134 - 3'    0.000010
71   138.197.149.244          3      '138.197.149.244 - 3'    0.000010
232    192.241.203.4          3        '192.241.203.4 - 3'    0.000010
102  162.142.125.131          1      '162.142.125.131 - 1'    0.000003

[393 rows x 4 columns]

- combined src_ip_bytes_connections_durations

In [12]:
import pandas as pd
import numpy as np

df = pd.read_csv('csv/cleaned_loged.csv', low_memory=False)

df = pd.pivot_table(data=df,index=['src_ip'],values=['byte','second'],aggfunc={len,np.sum})
df.to_csv("csv/sip_bytes_connections_durations.csv")

df = pd.read_csv("csv/sip_bytes_connections_durations.csv",skiprows=3,sep=',',names=['src_ip','connections','bytes','d_con','durations'])
df = df.loc[:, ['src_ip','connections','bytes','durations']]

#stored data
df.to_csv("csv/sip_bytes_connections_durations.csv",index=False)
df

              src_ip  connections   bytes  durations
0     103.101.163.36            1      40         54
1     103.104.73.170           15     780        435
2     103.104.84.129         4797  249444     142542
3    103.114.105.216            2     104        104
4     103.121.62.101          236   12272       7067
..               ...          ...     ...        ...
388    92.255.85.163         2675  139100      78731
389     93.56.10.113           16     832        545
390     94.102.61.29            5    1162        123
391     94.232.47.98          521   27092      15814
392   97.107.133.213            1      44         15

[393 rows x 4 columns]

In [11]:
sip_connections = df
sip_connections['data'] = "'" + sip_connections['src_ip'].astype(str) + " - " + sip_connections['connections'].astype(str) + "'"
sip_connections['percentage'] = (sip_connections['connections']/sip_connections['connections'].sum())*100
sip_connections = sip_connections.loc[:, ['src_ip','connections','data','percentage']]
sip_connections = sip_connections.sort_values(by = 'percentage', ascending = False)
sip_connections.to_csv("csv/sip_connections.csv",index=False)
sip_connections

              src_ip  connections                     data  percentage
21      103.76.250.6       388630  '103.76.250.6 - 388630'   35.635591
211     192.168.1.48        70081   '192.168.1.48 - 70081'    6.426107
217     192.168.1.56        38871   '192.168.1.56 - 38871'    3.564293
199    192.168.1.242        30245  '192.168.1.242 - 30245'    2.773328
168    192.168.1.146        22974  '192.168.1.146 - 22974'    2.106611
..               ...          ...                      ...         ...
153   192.155.90.118            1     '192.155.90.118 - 1'    0.000092
232    192.241.203.4            1      '192.241.203.4 - 1'    0.000092
238     192.3.136.82            1       '192.3.136.82 - 1'    0.000092
239  193.163.125.167            1    '193.163.125.167 - 1'    0.000092
392   97.107.133.213            1     '97.107.133.213 - 1'    0.000092

[393 rows x 4 columns]

In [12]:
sip_bytes = df
sip_bytes['data'] = "'" + sip_bytes['src_ip'].astype(str) + " - " + sip_bytes['bytes'].astype(str) + "'"
sip_bytes['percentage'] = (sip_bytes['bytes']/sip_bytes['bytes'].sum())*100
sip_bytes = sip_bytes.loc[:, ['src_ip','bytes','data','percentage']]
sip_bytes = sip_bytes.sort_values(by = 'percentage', ascending = False)
sip_bytes.to_csv("csv/sip_bytes.csv",index=False)
sip_bytes

             src_ip     bytes                        data  percentage
21     103.76.250.6  24887217   '103.76.250.6 - 24887217'   16.271675
199   192.168.1.242  16545458  '192.168.1.242 - 16545458'   10.817694
217    192.168.1.56   9498702    '192.168.1.56 - 9498702'    6.210409
161   192.168.1.121   7214478   '192.168.1.121 - 7214478'    4.716945
178   192.168.1.183   5564532   '192.168.1.183 - 5564532'    3.638183
..              ...       ...                         ...         ...
141  185.200.118.73        40       '185.200.118.73 - 40'    0.000026
140  185.200.118.37        40       '185.200.118.37 - 40'    0.000026
138  185.200.116.86        40       '185.200.116.86 - 40'    0.000026
136  185.196.220.81        40       '185.196.220.81 - 40'    0.000026
0    103.101.163.36        40       '103.101.163.36 - 40'    0.000026

[393 rows x 4 columns]

In [13]:
sip_durations = df
sip_durations['data'] = "'" + sip_durations['src_ip'].astype(str) + " - " + sip_durations['durations'].astype(str) + "'"
sip_durations['percentage'] = (sip_durations['durations']/sip_durations['durations'].sum())*100
sip_durations = sip_durations.loc[:, ['src_ip','durations','data','percentage']]
sip_durations = sip_durations.sort_values(by = 'percentage', ascending = False)
sip_durations.to_csv("csv/sip_durations.csv",index=False)
sip_durations

              src_ip  durations                       data  percentage
21      103.76.250.6   10934397  '103.76.250.6 - 10934397'   34.667878
211     192.168.1.48    2074355   '192.168.1.48 - 2074355'    6.576813
217     192.168.1.56    1063679   '192.168.1.56 - 1063679'    3.372430
199    192.168.1.242     892233   '192.168.1.242 - 892233'    2.828855
168    192.168.1.146     673099   '192.168.1.146 - 673099'    2.134083
..               ...        ...                        ...         ...
73     139.162.203.9          4        '139.162.203.9 - 4'    0.000013
111  167.248.133.134          3      '167.248.133.134 - 3'    0.000010
71   138.197.149.244          3      '138.197.149.244 - 3'    0.000010
232    192.241.203.4          3        '192.241.203.4 - 3'    0.000010
102  162.142.125.131          1      '162.142.125.131 - 1'    0.000003

[393 rows x 4 columns]

In [ ]:
@app.route('/sip_connections')
def sip_connections():
    df = pd.read_csv('csv/sip_connections.csv', low_memory=False)
    df = df.head(50)
    data = df.data.to_list()
    percentage = df.percentage.to_list()
    return render_template('sip_connections_pareto.html', data=data, percentage=percentage)

In [ ]:
import os
os.system('python sip_bytes.py')